body{
    background-image: url(gift-1420830_1280.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
h1{
    color: white;
}