body{
    background-image: url(https://thumbs.dreamstime.com/b/hand-writing-our-services-marker-business-concept-background-215861505.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
h1{
    padding-top: 350px;
}